# Ignore all files
*

# Except
!.gitignore
!GiftExchangeApplication/app/*
!GiftExchangeApplication/gradle/*
!GiftExchangeApplication/gradle.properties
!GiftExchangeApplication/gradlew
!GiftExchangeApplication/gradlew.bat