# Ignore all files
*

# Except
!.gitignore
!GiftExchangeApplication/app/*
!GiftExchangeApplication/grade/*
!GiftExchangeApplication/gradle.properties
!GiftExchangeApplication/gradlew
!GiftExchangeApplication/gradlew
!GiftExchangeApplication/gradlew.bat
!GiftExchangeApplication/settings.gradle