<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsd.cse110wi16.giftexchange">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createAccount"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ucsd.cse110wi16.giftexchange.MainActivity" />
        </activity>
        <activity
            android:name=".viewMyProfile"
            android:label="@string/title_activity_view_my_profile" />
        <activity
            android:name=".viewProfile"
            android:label="@string/title_activity_view_profile" />
        <activity
            android:name=".viewCurrentGroups"
            android:label="@string/title_activity_view_current_groups" />
        <activity
            android:name=".addGroup"
            android:label="@string/title_activity_add_group" />
        <activity
            android:name=".viewGroupDetails_preSort"
            android:label="@string/title_activity_view_group_details_pre_sort" />
        <activity
            android:name=".viewGroupDetails_postSort"
            android:label="@string/title_activity_view_group_details_post_sort" />
        <activity
            android:name=".adminSettings"
            android:label="@string/title_activity_admin_settings" />
        <activity
            android:name=".adminEditUsers"
            android:label="@string/title_activity_admin_edit_users"
            android:parentActivityName=".adminSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ucsd.cse110wi16.giftexchange.adminSettings" />
        </activity>
        <activity
            android:name=".CreateGroup"
            android:label="@string/title_activity_create_group"></activity>
    </application>

</manifest>
